/* Custom properties */
:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);

    --neutral-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-white: hsl(0, 0%, 100%);

    /* For hover button */
    --deep-aquamarine: #1A4032;

    --font-weight-regular: 500;
    --font-weight-bold: 700;

    --font-size-body: 14px;

    --font-family-accent: 'Fraunces', serif;
    --font-family-main: 'Montserrat', sans-serif;
}

/* CSS reset */
/* Credit: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
/* Remove default margin*/
* {
    margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
    height: 100%;
}
/* Typographic tweaks! Add accessible line-height, improve text rendering */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}
/* Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* Remove built-in form typography styles */
input, button, textarea, select {
    font: inherit;
}
/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* Smaller line height for larger font sizes */
h1 {
    line-height: 1;
}

/* General styling */
body {
    font-family: var(--font-family-main);
    font-weight: var(--font-weight-regular);
    color: var(--neutral-dark-grayish-blue);
    font-size: var(--font-size-body);
    background-color: var(--primary-cream);

    display: grid;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

/* Product card styling */
.product {
    background-color: var(--neutral-white);
    border-radius: 10px;
    overflow: hidden;

    display: grid;
    max-width: 600px;
}

@media (min-width: 600px) {
    .product {
        grid-template-columns: 1fr 1fr;
    }
}

.product__content {
    padding: 1.5rem;
    display: grid;
    gap: 1rem;
}

.product__category {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
}

.product__title {
    font-family: var(--font-family-accent);
    font-size: 32px;
    color: var(--neutral-very-dark-blue);
}

.product__price-sale {
    font-family: var(--font-family-accent);
    font-size: 32px;
    color: var(--primary-dark-cyan);
}

.product__price-original {
    font-size: 13px;
    text-decoration: line-through;
}

/* Button styling */
.button {
    cursor: pointer;
    padding: 0.5em 1.5em;
    border: none;
    text-decoration: none;
    background-color: var(--primary-dark-cyan);
    color: var(--neutral-white);
    font-weight: var(--font-weight-bold);
    border-radius: 8px;

    display: inline-flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

.button[data-icon="shopping-cart-icon"]::before {
    content: "";
    height: 16px;
    width: 15px;
    background-image: url("images/icon-cart.svg"); 
}

.button:is(:hover, :focus) {
    background-color: var(--deep-aquamarine);
}

/* Pricing layout */
.flex-group {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

/* Footer styling */
.attribution { 
    font-size: 11px; 
    text-align: center
}

.attribution a { 
    color: hsl(228, 45%, 44%)
} */
